<div *ngIf="contentData" class="container-fluid container-cards-pf">
  <div style="border: 1px solid #e5e5e5;" class="">
    <fieldset>
      <legend>Configuration</legend>
      <div class="">
        <cd-info-card title="Health"
                      cardClass="col-md-3">
          <span [ngStyle]="contentData.health.status | healthColor">{{ contentData.health.status }}</span>
        </cd-info-card>

        <cd-info-card title="Monitors"
                      cardClass="col-md-3">
          <span class="media-text">{{ contentData.mon_status | monSummary }}</span>
        </cd-info-card>

        <cd-info-card title="OSDs"
                      cardClass="col-md-3">
          <span class="media-text">{{ contentData.osd_map | osdSummary }}</span>
        </cd-info-card>

        <cd-info-card title="Manager Daemons"
                      cardClass="col-md-3">
          <span class="media-text">{{ contentData.mgr_map | mgrSummary }}</span>
        </cd-info-card>

        <cd-info-card title="Hosts"
                      cardClass="col-md-3">
          <span class="media-text">7</span>
        </cd-info-card>

        <cd-info-card title="Object Gateways"
                      cardClass="col-md-3">
          <span class="media-text">3</span>
        </cd-info-card>
        <cd-info-card title="Metadata Servers"
                      cardClass="col-md-3">
          <span class="media-text">2 (1 active)</span>
        </cd-info-card>

        <cd-info-card title="iSCSI Gateways"
                      cardClass="col-md-3">
          <span class="media-text">N/A</span>
        </cd-info-card>
      </div>
    </fieldset>
  </div>

  <div class="row">
    <!-- USAGE -->
    <div class="col-md-6">
      <div class="well"
           *ngIf="contentData.df?.stats?.total_objects">
        <fieldset class="usage">
          <legend i18n>Usage</legend>

          <table class="ceph-chartbox">
            <tr>
              <td>
                <span style="font-size: 45px;">{{ contentData.df.stats.total_objects | dimless }}</span>
              </td>
              <td>
                <div class="center-block pie">
                  <cd-health-pie [data]="contentData"
                                 (prepareFn)="prepareRawUsage($event[0], $event[1])"></cd-health-pie>
                </div>
              </td>
              <td>
                <div class="center-block pie">
                  <cd-health-pie [data]="contentData"
                                 (prepareFn)="preparePoolUsage($event[0], $event[1])"></cd-health-pie>
                </div>
              </td>
            </tr>
            <tr>
              <td i18n>Objects</td>
              <td>
                <ng-container i18n>Raw capacity</ng-container>
                <br>
                <ng-container i18n="disk used">({{ contentData.df.stats.total_used_bytes | dimlessBinary }} used)</ng-container>
              </td>
              <td i18n>Usage by pool</td>
            </tr>
          </table>
        </fieldset>
      </div>
    </div>

    <div class="col-md-6">
      <div class="well"
           *ngIf="contentData.pools">
        <fieldset>
          <legend i18n>Pools</legend>
          <table class="table table-condensed">
            <thead>
              <tr>
                <th i18n>Name</th>
                <th i18n>PG status</th>
                <th i18n>Usage</th>
                <th colspan="2"
                    i18n>Read</th>
                <th colspan="2"
                    i18n>Write</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let pool of contentData.pools">
                <td>{{ pool.pool_name }}</td>
                <td [ngStyle]="pool.pg_status | pgStatusStyle">
                  {{ pool.pg_status | pgStatus }}
                </td>
                <td>
                  <cd-usage-bar [totalBytes]="pool.stats.bytes_used.latest +  pool.stats.max_avail.latest" [usedBytes]="pool.stats.bytes_used.latest"></cd-usage-bar>
                </td>
                <td>
                  {{ pool.stats.rd_bytes.rate | dimless }}
                </td>
                <td>
                  {{ pool.stats.rd.rate | dimless }} ops
                </td>
                <td>
                  {{ pool.stats.wr_bytes.rate | dimless }}
                </td>
                <td>
                  {{ pool.stats.wr.rate | dimless }} ops
                </td>
              </tr>
            </tbody>
          </table>
        </fieldset>
      </div>
    </div>
  </div>
</div>
